<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.jumper.${PRODUCT_NAME:rfc1034Identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>${ER_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${ER_VERSION_BUNDLE}</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>ERValueTransformers</key>
	<dict>
		<key>ERLessThanZero</key>
		<string>SELF &lt; 0</string>
		<key>ERLessThanOrEqualToZero</key>
		<string>SELF &lt;= 0</string>
		<key>ERGreaterThanZero</key>
		<string>SELF &gt; 0</string>
		<key>ERGreaterThanOrEqualToZero</key>
		<string>SELF &gt;= 0</string>
		<key>EREqualToZero</key>
		<string>SELF == 0</string>
		<key>EREqualToOne</key>
		<string>SELF == 1</string>
		<key>ERNotEqualToZero</key>
		<string>SELF != 0</string>
		<key>ERNotEqualToOne</key>
		<string>SELF != 1</string>
		<key>ERSizeBaseTen</key>
		<dict>
			<key>#class</key>
			<string>ERStringExpressionTransformer</string>
			<key>predicate</key>
			<string>SELF &lt; 1000000</string>
			<key>expression</key>
			<string>FUNCTION( SELF / 1000, &apos;er_formatDouble:&apos;, &apos;%.1fkB&apos; )</string>
			<key>alternateExpression</key>
			<string>FUNCTION( SELF / 1000000, &apos;er_formatDouble:&apos;, &apos;%.2fMB&apos; )</string>
		</dict>
	</dict>
</dict>
</plist>
